<section class="py-4 about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="about-content">
          <h2 class="about-title">Sobre Nosotros</h2>
          <p class="about-description">
            Somos una plataforma educativa comprometida con brindar acceso a la educación de calidad de manera
            personalizada y en línea. Nuestra misión es empoderar a las personas a través del aprendizaje y la
            formación continua, permitiéndoles alcanzar sus metas y objetivos académicos y profesionales.
          </p>
          <p class="about-description">
            Ofrecemos una amplia variedad de recursos educativos en línea, desde cursos en video hasta materiales de
            lectura y evaluaciones interactivas. Nuestro equipo de instructores altamente capacitados y experimentados
            está dedicado a brindar una experiencia educativa enriquecedora y atractiva para todos nuestros estudiantes.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-image-container">
          <img src="https://picsum.photos/500/400" alt="Sobre Nosotros" class="about-image">
        </div>
      </div>
    </div>
  </div>
</section>
