<div class="row">
  <div class="col">

    <!-- Hero Section -->
    <section class="hero bg-primary text-white text-center py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h1 class="display-4">Aprende en Línea: Tu Portal de Educación Personalizada</h1>
            <p class="lead">Tu Futuro, Tu Educación, Nuestra Plataforma</p>
            <a href="#" class="btn btn-light btn-lg">¡Regístrate Gratis!</a>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-lg-6 mx-auto">
            <div class="row">
              <div class="col-md-6">
                <div class="feature">
                  <i class="fas fa-book-open fa-3x mb-3"></i>
                  <h4>Variedad de Cursos</h4>
                  <p>Explora una amplia gama de cursos diseñados para tus intereses.</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="feature">
                  <i class="fas fa-users fa-3x mb-3"></i>
                  <h4>Comunidad Activa</h4>
                  <p>Únete a una comunidad de estudiantes y profesores apasionados.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>




    <footer class="bg-dark text-white text-center py-3">
      <p>Derechos de Autor © 2023 Tu Plataforma Educativa en Línea</p>
    </footer>

  </div>
</div>
